name: Build Project

on:
  push:
    branches: 
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout the code
      uses: actions/checkout@v3
    - name: Create google-services.json in android
      run:  echo '${{ secrets.GOOGLE_SERVICES_JSON }}' > android/google-services.json
    - name: Create google-services.json in wearos
      run:  echo '${{ secrets.GOOGLE_SERVICES_JSON }}' > wearos/google-services.json
    - name: Apply ktlintCheck
      run: ./gradlew ktlintCheck
    - name: Build android app
      run:  ./gradlew android:assembleDebug
    - name: Build wearos app
      run:  ./gradlew wearos:assembleDebug
